@model Web_Ankh_Mork.DB.Entity.Beggar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Beggar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeggarType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeggarType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Replic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Replic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
